/*Button Label*/
.loginButton {
    left: 0 !important;
    position: absolute !important;
    top: 160px !important;
    width: 437px !important;
    background-color: #f9af15 !important;

}

.loginButtonInstance {
    color: #000000 !important;
    left: 150px !important;
    top: 1px;
}

/*Email form*/
.emailForm {
    left: 0 !important;
    position: absolute !important;
    top: 31px !important;
    width: 437px !important;
}

.emailFormIcon {
    left: 401px !important;
}

/*Error message*/
.errorMessage {
    position: absolute;
    left: 180px;
    top: -1px;
}

/*Forms*/
.overlapContainer {
    width: 439px !important;
}